In [1]:
#IMPORT PANDAS AND RAW DATA FILE
import pandas as pd
csv_path = "Resources/purchase_data.csv"

In [16]:
#READ THE CSV AND THEN REVIEW THE HEADER FOR CONFIRMATION
data=pd.read_csv(csv_path)
#data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [9]:
#DETERMINE PLAYER COUNT BY REMOVING DUPLICATE SN, COUNT LENGTH 
SN_unique = data.drop_duplicates("SN", keep="first", inplace = False)
num_players=len(SN_unique)
#num_players

In [18]:
#PURCHASING ANALYSIS CALCULATIONS
Items_unique=data["Item ID"].nunique()
#Items_unique
purprice_avg = round(data["Price"].mean(),2)
#purprice_avg
pur_numtot=len(data)
#pur_numtot
revenue_tot = round(data["Price"].sum(),2)
#revenue_tot

2379.77

In [28]:
#GENDER DEMOGRAPHICS (Using the unique database to remove duplicates)
data_gender = SN_unique.set_index("Gender")
male_count = len(data_gender.loc["Male"])
female_count = len(data_gender.loc["Female"])
na_count = len(data_gender.loc["Other / Non-Disclosed"])
male_per = round(100*male_count/num_players,2)
female_per = round(100*female_count/num_players,2)
na_per = round(100*na_count/num_players,2)
#male_per
#female_per
#na_per

1.91

In [51]:
#PURCHASING ANALYSIS BY GENDER (Using main data and reindexing by gender to create subsets of data to work with)
data_genderfull=data.set_index("Gender")
data_male=data_genderfull.loc["Male"]
data_female=data_genderfull.loc["Female"]
data_na=data_genderfull.loc["Other / Non-Disclosed"]
#CALC COUNT, AVG, TOTAL PURCHASE VALUE AND AVG PERSON BY GENDER
malepur_num=len(data_male)
femalepur_num=len(data_female)
napur_num=len(data_na)
malepurprice_avg=round(data_male["Price"].mean(),2)
femalepurprice_avg=round(data_female["Price"].mean(),2)
napurprice_avg=round(data_na["Price"].mean(),2)
malepur_tot=round(data_male["Price"].sum(),2)
femalepur_tot=round(data_female["Price"].sum(),2)
napur_tot=round(data_na["Price"].sum(),2)
malepur_avgr=round(malepur_tot/male_count,2)
femalepur_avgr=round(femalepur_tot/female_count,2)
napur_avgr=round(napur_tot/na_count,2)
#malepur_num
#femalepur_num
#napur_num
#malepurprice_avg
#femalepurprice_avg
#napurprice_avg
#malepur_tot
#femalepur_tot
#napur_tot
#malepur_avgr
#femalepur_avgr
#napur_avgr

4.07

In [54]:
#AGE DEMOGRAPHICS (Using full data, label age groups and then drop duplicates)
bins = [0,10,15,20,25,30,35,40,50]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]
data["Age Range"] = pd.cut(data["Age"], bins, labels=age_groups, right=False)
data_age=data.drop_duplicates("SN", keep="first", inplace = False)
data_age=data_age.set_index("Age Range")
#break new DB down by age group

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Range,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
20-24,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
10-14,774,Jiskjask80,11,Male,92,Final Critic,4.19
20-24,775,Aethedru70,21,Female,60,Wolf,3.54
20-24,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
<10,778,Sisur91,7,Male,92,Final Critic,4.19