In [2]:
#IMPORT PANDAS AND RAW DATA FILE
import pandas as pd
import numpy as np 
csv_path = "Resources/purchase_data.csv"

In [3]:
#READ THE CSV AND THEN REVIEW THE HEADER FOR CONFIRMATION
data=pd.read_csv(csv_path)
data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [51]:
#DETERMINE PLAYER COUNT BY REMOVING DUPLICATE SN, COUNT LENGTH 
SN_unique = data.drop_duplicates("SN", keep="first", inplace = False)
num_players=len(SN_unique)
player_count_table = pd.DataFrame({"Total Players": [num_players]})
player_count_table

   Total Players
0            576

In [58]:
#PURCHASING ANALYSIS CALCULATIONS
Items_unique=data["Item ID"].nunique()
#Items_unique
purprice_avg = round(data["Price"].mean(),2)
#purprice_avg
pur_numtot=len(data)
#pur_numtot
revenue_tot = round(data["Price"].sum(),2)
#revenue_tot
pur_analysis_table = pd.DataFrame({"Number of Unique Items": [Items_unique],
                                 "Average Price": "$" +str(purprice_avg),
                                 "Number of Purchases": [pur_numtot],
                                 "Revenue": "$" +str(revenue_tot)})
pur_analysis_table

   Number of Unique Items Average Price  Number of Purchases   Revenue
0                     179         $3.05                  780  $2379.77

#MOST POPULAR ITEMS (I used agg so that I didn't lose price information) 

pop_data=pd.DataFrame(data)
pop_df = pop_data.groupby(["Item ID", "Item Name"]).agg({
    "Purchase ID":"count",
    "Price":"mean"
})
pop_df = pop_df.sort_values("Purchase ID", ascending = False).reset_index()

item1=pop_df.loc[0,:]["Item ID"]
item2=pop_df.loc[1,:]["Item ID"]
item3=pop_df.loc[2,:]["Item ID"]
item4=pop_df.loc[3,:]["Item ID"]
item5=pop_df.loc[4,:]["Item ID"]

itemname1=pop_df.loc[0,:]["Item Name"]
itemname2=pop_df.loc[1,:]["Item Name"]
itemname3=pop_df.loc[2,:]["Item Name"]
itemname4=pop_df.loc[3,:]["Item Name"]
itemname5=pop_df.loc[4,:]["Item Name"]

item_count1=pop_df.loc[0,:]["Purchase ID"]
item_count2=pop_df.loc[1,:]["Purchase ID"]
item_count3=pop_df.loc[2,:]["Purchase ID"]
item_count4=pop_df.loc[3,:]["Purchase ID"]
item_count5=pop_df.loc[4,:]["Purchase ID"]

price1=round(pop_df.loc[0,:]["Price"],2)
price2=round(pop_df.loc[1,:]["Price"],2)
price3=round(pop_df.loc[2,:]["Price"],2)
price4=round(pop_df.loc[3,:]["Price"],2)
price5=round(pop_df.loc[4,:]["Price"],2)

totalvalue1=round(item_count1*price1,2)
totalvalue2=round(item_count2*price2,2)
totalvalue3=round(item_count3*price3,2)
totalvalue4=round(item_count4*price4,2)
totalvalue5=round(item_count5*price5,2)
#pop_df

In [6]:
#GENDER DEMOGRAPHICS (Using the unique database to remove duplicates)
data_gender = SN_unique.set_index("Gender")
male_count = len(data_gender.loc["Male"])
female_count = len(data_gender.loc["Female"])
na_count = len(data_gender.loc["Other / Non-Disclosed"])
male_per = round(100*male_count/num_players,2)
female_per = round(100*female_count/num_players,2)
na_per = round(100*na_count/num_players,2)
#male_per
#female_per
#na_per

In [7]:
#PURCHASING ANALYSIS BY GENDER (Using main data and reindexing by gender to create subsets of data to work with)
data_genderfull=data.set_index("Gender")
data_male=data_genderfull.loc["Male"]
data_female=data_genderfull.loc["Female"]
data_na=data_genderfull.loc["Other / Non-Disclosed"]
#CALC COUNT, AVG, TOTAL PURCHASE VALUE AND AVG PERSON BY GENDER
malepur_num=len(data_male)
femalepur_num=len(data_female)
napur_num=len(data_na)

malepurprice_avg=round(data_male["Price"].mean(),2)
femalepurprice_avg=round(data_female["Price"].mean(),2)
napurprice_avg=round(data_na["Price"].mean(),2)

malepur_tot=round(data_male["Price"].sum(),2)
femalepur_tot=round(data_female["Price"].sum(),2)
napur_tot=round(data_na["Price"].sum(),2)

malepur_avgr=round(malepur_tot/male_count,2)
femalepur_avgr=round(femalepur_tot/female_count,2)
napur_avgr=round(napur_tot/na_count,2)
#malepur_num
#femalepur_num
#napur_num
#malepurprice_avg
#femalepurprice_avg
#napurprice_avg
#malepur_tot
#femalepur_tot
#napur_tot
#malepur_avgr
#femalepur_avgr
#napur_avgr

In [8]:
#AGE DEMOGRAPHICS (Using full data, label age groups and then drop duplicates)
bins = [0,10,15,20,25,30,35,40,50]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]
data["Age Range"] = pd.cut(data["Age"], bins, labels=age_groups, right=False)
data_age=data
data_age=data_age.set_index("Age Range")
data_age1=data.drop_duplicates("SN", keep="first", inplace = False)
data_age1=data_age1.set_index("Age Range")
#break new DB down by age group (lower range of group is the name to shorten naming convention)
zero1 = data_age1.loc["<10"]
ten1 = data_age1.loc["10-14"]
fifteen1 = data_age1.loc["15-19"]
twenty1 = data_age1.loc["20-24"]
twentyfive1 = data_age1.loc["25-29"]
thirty1 = data_age1.loc["30-34"]
thirtyfive1 = data_age1.loc["35-39"]
forty1 = data_age1.loc["40+"]

#calc per group the unique number and percentage
zero_count1=len(zero1)
ten_count1=len(ten1)
fifteen_count1=len(fifteen1)
twenty_count1=len(twenty1)
twentyfive_count1=len(twentyfive1)
thirty_count1=len(thirty1)
thirtyfive_count1=len(thirtyfive1)
forty_count1=len(forty1)

zero_per=round(zero_count1*100/num_players,2)
ten_per=round(ten_count1*100/num_players,2)
fifteen_per=round(fifteen_count1*100/num_players,2)
twenty_per=round(twenty_count1*100/num_players,2)
twentyfive_per=round(twentyfive_count1*100/num_players,2)
thirty_per=round(thirty_count1*100/num_players,2)
thirtyfive_per=round(thirtyfive_count1*100/num_players,2)
forty_per=round(forty_count1*100/num_players,2)

#calc per group the total number of purchases
zero = data_age.loc["<10"]
ten = data_age.loc["10-14"]
fifteen = data_age.loc["15-19"]
twenty = data_age.loc["20-24"]
twentyfive = data_age.loc["25-29"]
thirty = data_age.loc["30-34"]
thirtyfive = data_age.loc["35-39"]
forty = data_age.loc["40+"]
zero_count=len(zero)
ten_count=len(ten)
fifteen_count=len(fifteen)
twenty_count=len(twenty)
twentyfive_count=len(twentyfive)
thirty_count=len(thirty)
thirtyfive_count=len(thirtyfive)
forty_count=len(forty)

#calc per group the number, average purchase, total purchase value and average purchase per person
zeroprice_avg=round(zero["Price"].mean(),2)
tenprice_avg=round(ten["Price"].mean(),2)
fifteenprice_avg=round(fifteen["Price"].mean(),2)
twentyprice_avg=round(twenty["Price"].mean(),2)
twentyfiveprice_avg=round(twentyfive["Price"].mean(),2)
thirtyprice_avg=round(thirty["Price"].mean(),2)
thirtyfiveprice_avg=round(thirtyfive["Price"].mean(),2)
fortyprice_avg=round(forty["Price"].mean(),2)

zero_sum=round(zero["Price"].sum(),2)
ten_sum=round(ten["Price"].sum(),2)
fifteen_sum=round(fifteen["Price"].sum(),2)
twenty_sum=round(twenty["Price"].sum(),2)
twentyfive_sum=round(twentyfive["Price"].sum(),2)
thirty_sum=round(thirty["Price"].sum(),2)
thirtyfive_sum=round(thirtyfive["Price"].sum(),2)
forty_sum=round(forty["Price"].sum(),2)

zeropur_avg=round(zero_sum/zero_count1,2)
tenpur_avg=round(ten_sum/ten_count1,2)
fifteenpur_avg=round(fifteen_sum/fifteen_count1,2)
twentypur_avg=round(twenty_sum/twenty_count1,2)
twentyfivepur_avg=round(twentyfive_sum/twentyfive_count1,2)
thirtypur_avg=round(thirty_sum/thirty_count1,2)
thirtyfivepur_avg=round(thirtyfive_sum/thirtyfive_count1,2)
fortypur_avg=round(forty_sum/forty_count1,2)

In [9]:
#TOP SPENDERS (Filter the data down to SN total spent and count)
SN_Price = data.groupby(["SN", "Price"]).size().to_frame(name = "Purchase Count").reset_index()
SN_pur = SN_Price.groupby("SN").sum()
SN_pur = SN_pur.sort_values("Price", ascending = False).reset_index()

#Calc the summary data
SN1 = SN_pur.loc[0,:]["SN"]
SN2 = SN_pur.loc[1,:]["SN"]
SN3 = SN_pur.loc[2,:]["SN"]
SN4 = SN_pur.loc[3,:]["SN"]
SN5 = SN_pur.loc[4,:]["SN"]

PurCount1 = SN_pur.loc[0,:]["Purchase Count"]
PurCount2 = SN_pur.loc[1,:]["Purchase Count"]
PurCount3 = SN_pur.loc[2,:]["Purchase Count"]
PurCount4 = SN_pur.loc[3,:]["Purchase Count"]
PurCount5 = SN_pur.loc[4,:]["Purchase Count"]

TotPur1 = SN_pur.loc[0,:]["Price"]
TotPur2 = SN_pur.loc[1,:]["Price"]
TotPur3 = SN_pur.loc[2,:]["Price"]
TotPur4 = SN_pur.loc[3,:]["Price"]
TotPur5 = SN_pur.loc[4,:]["Price"]

AvgPur1 = round(TotPur1/PurCount1,2)
AvgPur2 = round(TotPur2/PurCount2,2)
AvgPur3 = round(TotPur3/PurCount3,2)
AvgPur4 = round(TotPur4/PurCount4,2)
AvgPur5 = round(TotPur5/PurCount5,2)

In [26]:
#MOST POPULAR ITEMS (I used agg so that I didn't lose price information) 

pop_data=pd.DataFrame(data)
pop_df = pop_data.groupby(["Item ID", "Item Name"]).agg({
    "Purchase ID":"count",
    "Price":"mean"
})
pop_df = pop_df.sort_values("Purchase ID", ascending = False).reset_index()

item1=pop_df.loc[0,:]["Item ID"]
item2=pop_df.loc[1,:]["Item ID"]
item3=pop_df.loc[2,:]["Item ID"]
item4=pop_df.loc[3,:]["Item ID"]
item5=pop_df.loc[4,:]["Item ID"]

itemname1=pop_df.loc[0,:]["Item Name"]
itemname2=pop_df.loc[1,:]["Item Name"]
itemname3=pop_df.loc[2,:]["Item Name"]
itemname4=pop_df.loc[3,:]["Item Name"]
itemname5=pop_df.loc[4,:]["Item Name"]

item_count1=pop_df.loc[0,:]["Purchase ID"]
item_count2=pop_df.loc[1,:]["Purchase ID"]
item_count3=pop_df.loc[2,:]["Purchase ID"]
item_count4=pop_df.loc[3,:]["Purchase ID"]
item_count5=pop_df.loc[4,:]["Purchase ID"]

price1=round(pop_df.loc[0,:]["Price"],2)
price2=round(pop_df.loc[1,:]["Price"],2)
price3=round(pop_df.loc[2,:]["Price"],2)
price4=round(pop_df.loc[3,:]["Price"],2)
price5=round(pop_df.loc[4,:]["Price"],2)

totalvalue1=round(item_count1*price1,2)
totalvalue2=round(item_count2*price2,2)
totalvalue3=round(item_count3*price3,2)
totalvalue4=round(item_count4*price4,2)
totalvalue5=round(item_count5*price5,2)
#pop_df

In [49]:
#MOST PROFITABLE ITEMS (Start by calculating profit for each item by price * purchase count)
Profit = pop_df.loc[:,:]["Price"] * pop_df.loc[:,:]["Purchase ID"]
#pop_df.insert(4, "Profit", Profit, True) <= Ran once to sort and commented out to prevent further adding
profit_df = pop_df.sort_values("Profit", ascending = False).reset_index()

item1p=profit_df.loc[0,:]["Item ID"]
item2p=profit_df.loc[1,:]["Item ID"]
item3p=profit_df.loc[2,:]["Item ID"]
item4p=profit_df.loc[3,:]["Item ID"]
item5p=profit_df.loc[4,:]["Item ID"]

itemname1p=profit_df.loc[0,:]["Item Name"]
itemname2p=profit_df.loc[1,:]["Item Name"]
itemname3p=profit_df.loc[2,:]["Item Name"]
itemname4p=profit_df.loc[3,:]["Item Name"]
itemname5p=profit_df.loc[4,:]["Item Name"]

item_count1p=profit_df.loc[0,:]["Purchase ID"]
item_count2p=profit_df.loc[1,:]["Purchase ID"]
item_count3p=profit_df.loc[2,:]["Purchase ID"]
item_count4p=profit_df.loc[3,:]["Purchase ID"]
item_count5p=profit_df.loc[4,:]["Purchase ID"]

price1p=round(profit_df.loc[0,:]["Price"],2)
price2p=round(profit_df.loc[1,:]["Price"],2)
price3p=round(profit_df.loc[2,:]["Price"],2)
price4p=round(profit_df.loc[3,:]["Price"],2)
price5p=round(profit_df.loc[4,:]["Price"],2)

totalvalue1p=round(profit_df.loc[0,:]["Profit"],2)
totalvalue2p=round(profit_df.loc[1,:]["Profit"],2)
totalvalue3p=round(profit_df.loc[2,:]["Profit"],2)
totalvalue4p=round(profit_df.loc[3,:]["Profit"],2)
totalvalue5p=round(profit_df.loc[4,:]["Profit"],2)

34.8

In [44]:
profit_df

,Item ID,Item Name,Purchase ID,Price,Profit
0,92,Final Critic,13,4.614615,59.99
1,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
5,82,Nirvana,9,4.900000,44.10
2,145,Fiery Glass Crusader,9,4.580000,41.22
7,103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...,...
149,28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
169,126,Exiled Mithril Longsword,1,2.000000,2.00
154,125,Whistling Mithril Warblade,2,1.000000,2.00
177,104,Gladiator's Glaive,1,1.930000,1.93
174,42,The Decapitator,1,1.750000,1.75